<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coding Challenge: Back-End</title>
  </head>
  <body>
    <h2> Welcome to the Back-End Coding Challenge</2>

    <h3> Instructions </h3>
    <a href="https://whispering-hollows-37604.herokuapp.com/api/talks">Click Here</a> to view the list of all talks at the conference </p>
    <a href="https://whispering-hollows-37604.herokuapp.com/api/attendees">Click Here</a> to view the list of all attendees a the conference </p>

  </body>
</html>
